body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: black;
  padding: 2rem;
}
ul {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  font-size: larger;
  list-style: none;
  height: 1cm;
}

nav ul li a {
  color: white;
}
.summary {
  background: white;
  background-image: url("../images/_.jpeg");
  background-size: cover;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
div {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.book-list {
  background: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
